<!DOCTYPE html>
<html ng-app="starter" ng-controller="PhoneListCtrl">
<head lang="en">
    <meta charset="UTF-8">
    <title>Google Phone Gallery: {{query}}</title>
    <script src="../js/angular.min.js"></script>
    <script src="../app/js/controller.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body >
    <input type="button" ng-click="change()" value="查询">
    <div>{{Data}}</div>
    Sort by:
    <select ng-model="orderProp">
        <option value="name">AAA</option>
        <option value="age">12</option>
    </select>
    <ul>
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            {{phone.name}}
        <p>{{phone.snippet}}</p>
        </li>
    </ul>
</body>
</html>